@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

:root {
  --foreground: #ffffff;
  --background: #0a0a0a;
  --inter-thin: inter-thin;
  --inter-thin-italic: inter-thin-italic;
  --inter-extralight: inter-extralight;
  --inter-extralight-italic: inter-extralight-italic;
  --inter-light: inter-light;
  --inter-light-italic: inter-light-italic;
  --inter-regular: inter-regular;
  --inter-regular-italic: inter-regular-italic;
  --inter-medium: inter-medium;
  --inter-medium-italic: inter-medium-italic;
  --inter-semibold: inter-semibold;
  --inter-semibold-italic: inter-semibold-italic;
  --inter-bold: inter-bold;
  --inter-bold-italic: inter-bold-italic;
  --inter-extrabold: inter-extrabold;
  --inter-extrabold-italic: inter-extrabold-italic;
  --inter-black: inter-black;
  --inter-black-italic: inter-black-italic;
}

@theme {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --font-inter-thin: var(--inter-thin);
  --font-inter-thin-italic: var(--inter-thin-italic);
  --font-inter-extralight: var(--inter-extralight);
  --font-inter-extralight-italic: var(--inter-extralight-italic);
  --font-inter-light: var(--inter-light);
  --font-inter-light-italic: var(--inter-light-italic);
  --font-inter-regular: var(--inter-regular);
  --font-inter-regular-italic: var(--inter-regular-italic);
  --font-inter-medium: var(--inter-medium);
  --font-inter-medium-italic: var(--inter-medium-italic);
  --font-inter-semibold: var(--inter-semibold);
  --font-inter-semibold-italic: var(--inter-semibold-italic);
  --font-inter-bold: var(--inter-bold);
  --font-inter-bold-italic: var(--inter-bold-italic);
  --font-inter-extrabold: var(--inter-extrabold);
  --font-inter-extrabold-italic: var(--inter-extrabold-italic);
  --font-inter-black: var(--inter-black);
  --font-inter-black-italic: var(--inter-black-italic);
}
