{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["className", "class"],
  "tailwindFunctions": ["clsx", "cn", "tw", "twMerge"],
  "singleQuote": false,
  "printWidth": 150,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["*.html", "*.htm"],
      "options": {
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": [".prettierrc", ".eslintrc", ".babelrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
